:root {
    --pulp: #F42069;
    --rind: #6EC2B1;
    --seed: #000000;
    --cream: #FFFFC2
}

body {
    background: var(--bg);
    color: var(--font_color);
    font-family: monospace;
}

#chess-board {
    text-align: center;
    border-spacing: 0pt;
    font-family: Arial Unicode MS;
    border-collapse: collapse;
    border-width: 0pt;
}

.axis-label {
    width: 24pt;
    height: 24pt;
}

.square {
    width: 24pt;
    height: 24pt;
    border-color: #000000;
    border-style: solid;
    font-size: 150%;
    color: var(--seed);
}

.white {
    background-color: #FFFFFF;
}

.black {
    background-color: #A8A8A8;
}

/*
ul {
    font-family: helvetica;
}
*/
li {
    list-style: circle;
}

.list {
    list-style: square;
}
/*
#msg {
    font-family: monospace;
}
*/

.btn {
    position: absolute;
    top: 20px;
    left: 525px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btn_font_color);
    background-color: var(--btn_bg);
}

.light-theme {
    --bg: var(--cream);
    --font_color: var(--seed);
    --btn_font_color: var(--pulp);
    --btn_bg: var(--seed);
}

.dark-theme {
    --bg: var(--seed);
    --font_color: var(--pulp);
    --btn_font_color: var(--seed);
    --btn_bg: var(--cream);
}
